# emacs一時ファイル
*~
\#*\#
.\#*
  
# ローカル設定
/local/
!.gitkeep
/.emacs.d/junk/
/local-agenda/
*local.el

!empty
/.emacs.d/scratch
/.emacs.d/emacs-visited-files
/.emacs.d/.mc-lists.el

# flycheck
flycheck_*
