backup/
elpa/
server/
auto-save-list/
eshell/
newsticker/
tramp
ac-comphist.dat
bookmarks
url/
tutorial/
!inits/
persp-confs/

projectile-bookmarks.eld
projectile.cache
recentf

*.elc
.loaddefs.el
el-get/packages/
!.status.el
